<header>
  <div class="container flex">
    <h2 class="icon" routerLink="">VORTEX - Your new media service</h2>
    <app-search-bar></app-search-bar>
    <div class="right-section">
      <nav>
        <ul class="navbar">
          <a routerLink="/movies">Movies</a>
          <a routerLink="/series">Series</a>
        </ul>
      </nav>

      @if (userService.currentUserSig()){
      <div class="parent">
        <div class="placeholder profile" (click)="toggleMenu()">
          <div
            class="profile-pic"
            [style.background-image]="profileImg()"
          ></div>
          <p class="username">
            {{ userService.currentUserSig()?.user?.username }}
          </p>
        </div>
        <div class="profile-menu" [class.hidden]="menuToggle">
          <li>
            <p>Dark-mode</p>
            <div class="dark-mode-toggle" (click)="darkModeToggle()">
              <div class="toggle-btn" [class.switched]="darkMode"></div>
            </div>
          </li>

          <li><a href="javascript:;" (click)="logOut()">Logout</a></li>
        </div>
      </div>

      } @if(userService.currentUserSig()===null) {
      <div class="placeholder">
        <nav>
          <ul class="navbar">
            <a routerLink="/sign-up">Sign-up</a>
            <a routerLink="/log-in">Login</a>
          </ul>
        </nav>
      </div>
      }
    </div>
  </div>
</header>
