<header>
  <div class="container flex">
    <h2 class="icon" routerLink="">VORTEX - Your new media service</h2>
    <div class="right-section">
      <nav>
        <ul class="navbar">
          <a routerLink="/movies">Movies</a>
          <a routerLink="/series">Series</a>
        </ul>
      </nav>

      @if (userService.currentUserSig()){
      <div class="placeholder profile">
        <div class="profile-pic" [style.background-image]="profileImg()"></div>
        <p class="username">
          {{ userService.currentUserSig()?.user?.username }}
        </p>
        <div class="profile-menu">
          <li><a href="javascript:;">Dark-mode</a></li>
          <li><a href="javascript:;" (click)="logOut()">Logout</a></li>
        </div>
      </div>

      } @if(userService.currentUserSig()===null) {
      <div class="placeholder">
        <nav>
          <ul class="navbar">
            <a routerLink="/sign-up">Sign-up</a>
            <a routerLink="/log-in">Login</a>
          </ul>
        </nav>
      </div>
      } @if(userService.currentUserSig()===undefined) {
      <div class="placeholder"></div>
      }
    </div>
  </div>
</header>
