header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  height: 90px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar > a {
  margin-right: 15px;
  text-decoration: none;
  color: var(--text-color);
}
.profile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid var(--secondary-color);
}
.right-section {
  display: flex;
  align-items: center;
}
.placeholder {
  width: 200px;
}
