<div class="flex">
  <h1 class="column clickable" (click)="goLeft()"><</h1>

  <div
    *ngFor="let product of data; index as i; first as isFirst; last as isLast"
  >
    @if(isFirst || isLast) {
    <div class="column element hidden">
      <div class="bordered clickable">
        <p>{{ product.name }} - Id:{{ product.id }}</p>
        <img class="video" [src]="product.image" alt="" />
      </div>
    </div>
    } @else if(i === floor(data.length/2)) {
    <div class="column element center-element">
      <div class="bordered clickable">
        <p>{{ product.name }} - Id:{{ product.id }}</p>
        <img class="video" [src]="product.image" alt="" />
      </div>
    </div>
    } @else {
    <div class="column element">
      <div class="bordered clickable">
        <p>{{ product.name }} - Id:{{ product.id }}</p>
        <img class="video" [src]="product.image" alt="" />
      </div>
    </div>
    }
  </div>
  <h1 class="column clickable" (click)="goRight()">></h1>
</div>
