.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: red;
}
.wrapper {
  background-color: var(--tertiary-color);
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  padding: 8px;
  width: 20%;
  height: 100%;
  border: 2px solid var(--text-color);
}
img {
  width: 200px;
  height: 300px;
}
.slider {
  overflow: hidden;
}
.slider-container {
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.6s;
}
